body {margin:40px auto;
max-width:650px;
line-height:1.6;
font-size:18px;
//color:#444;
padding:0 10px}
h1,h2,h3{line-height:1.2}
a {border-bottom: 1px solid #444444; color: #444444; text-decoration: none;}
cite {font-style: normal; font-weight: bold;}
.code {font-size: 10pt;background-color: #e5f4ff;}
figure {text-align: center;}
figcaption{
//font-variant: small-caps;
font-size:12pt;
    font-weight: bold;}
.center {text-align: center;}
.right {text-align: right;}

