---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

figure {text-align: center;}

figure > img {
    display: inline-block;
    margin: 0 auto;
    max-height: 80%;
    max-width: 100%;
}